
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-Light.ttf') format('truetype'); 
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-Regular.ttf') format('truetype'); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-Medium.ttf') format('truetype'); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-Bold.ttf') format('truetype'); 
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Archivo';
	src: url('/fonts/Archivo-ExtraLight.ttf') format('truetype'); 
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Archivo';
	src: url('/fonts/Archivo-Regular.ttf') format('truetype'); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Archivo';
	src: url('/fonts/Archivo-Medium.ttf') format('truetype'); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Archivo';
	src: url('/fonts/Archivo-Bold.ttf') format('truetype'); 
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Light.ttf') format('truetype'); 
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf') format('truetype'); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Medium.ttf') format('truetype'); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf') format('truetype'); 
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-ExtraLight.ttf') format('truetype'); 
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-Regular.ttf') format('truetype'); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-Medium.ttf') format('truetype'); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Roboto-Bold.ttf') format('truetype'); 
	font-weight: 700;
	font-style: normal;
}