html, body {
	font-family: OpenSans, Archivo, Roboto, Nunito, sans-serif;
	font-weight: 300;
	color: #287ee1;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #f9f8f8;
}
header, main, .footer{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
body a{
	text-decoration: none;
}
main.lock, footer.lock {
	pointer-events: none;
	user-select: none;
	opacity: 0.7;
	position: relative;
	z-index: 0;
 }

.header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	color: #287ee1;
	font-weight: 300;
	padding: 1rem;
	min-width: 100%;
	margin-bottom: 60px;
}
.header__menu{
	padding-right: 40px;
}
.title{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.title__img img{
	width: 100px;
}
.title__text h1{
	font-size: 40px;
	font-weight: 400;
	margin: 0;
}
nav {
	padding-left: 2rem;
	display: flex;
	justify-content:flex-start;
	column-gap: 7rem;
}
nav a {
	text-decoration: none;
	text-align: center;
	color: #287ee1;
	font-weight: 500;
	font-size: 24px;
	padding-top: 24px;
}
.nav .underline-animation {
	display: inline-block;
	position: relative;
	text-decoration: none;
 }
 .nav .underline-animation::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #d88144;
	transition: width 0.2s ease-in-out;
 }
 .nav .underline-animation:hover::after {
	width: 100%;
 }
.menu-burg{
	display: none;
}

.m-b-60{
	margin-bottom: 60px;
}
.section{
	margin: 0 auto 60px auto;
	width: 70%;
	padding-top: 40px;
	padding-bottom: 40px;

	display: flex;
	flex-wrap: wrap;
	column-gap:100px;
	row-gap: 40px;
	flex-direction: row;
	justify-content: center;

	background-color: #00457E;
	border-radius: 40px;
} 

.section__item a{
	background-color: #f9f8f8;
	border-radius: 40px;
	padding: 5px 60px;
	font-size: 40px;
	font-weight: 400;
	color: #287ee1;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; 

}
.section__item a:hover{
	background-color: #d88144;
	color: #f9f8f8;
}

.section-contact-us{
	color: #d88144;
	margin: 0 auto 60px auto;
	display: flex;
	flex-wrap: wrap;
	column-gap:100px;
	row-gap: 40px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section-contact-us__item:nth-child(1){
	text-align: left;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 1px;
}

.container-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	border-collapse: collapse;
	width: 100%;
	place-items: center start;
	}
	.container-grid div {
	padding: 5px 10px;
	color: #d88144;
	}
	.container-grid div img{
	width: 30px;
	height: 30px;
	}
.section-contact-us__item a{
	color: #d88144;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; 
}
.section-contact-us__item a:hover{
	color: #287ee1;
}

footer{
	background-color: #00457E;
	padding-bottom: 0;
}
.section-write-to-us{
	margin: 0 auto 0 auto;
	width: 70%;
	padding: 40px;

	color: white;
	background-color: #00457E;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	text-align: left;
}

.section-write-to-us__item:nth-child(1) { grid-area: 1 / 1 / 4 / 2; }
.section-write-to-us__item:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.section-write-to-us__item:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
.section-write-to-us__item:nth-child(4) { grid-area: 3 / 2 / 4 / 3; }
.section-write-to-us__item:nth-child(5) { grid-area: 1 / 3 / 4 / 4; }

.input-text, .message__textarea{
	font-size: 16px;
	margin: 0 10px;
}
.section-write-to-us__item:nth-child(1){
	padding-left: 30px;
}
.section-write-to-us__item:nth-child(2),
.section-write-to-us__item:nth-child(3),
.section-write-to-us__item:nth-child(4){
	text-align: right;
	margin: 0 10px;
}



/* 

@media (max-width: 1280px){
	.section{
		row-gap: 30px;
	} 
	.section__item a{
		font-size: 32px;
	}
	.section-contact-us__item:nth-child(1){
		font-size: 36px;
	}
}

@media (max-width: 1200px){
	.title__img img{
		width: 90px;
	}
	.title__text h1{
		font-size: 32px;
	}
	.header{
		margin-bottom: 0px;
	}
	.header__menu{
		z-index: 5;
	}
	.menu-burg{
		display: block;
		text-align: right;
		margin-bottom: 15px;
	}
	.menu-burg__burger.deactive{
		display: none;
	}
	.menu-burg__close{
		display: none;
	}
	.menu-burg__close.active{
		display: block;
	}
	.nav.active{
		top: 0;
		z-index: 5;
		flex-direction: column;
		align-items: flex-end;
		right: 0;
	}
	.nav {
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		right: -100%;
		transition: right 0.6s ease;
	}
	.nav a{
		background-color: #d88144;
		border-radius: 50px;
		padding: 5px 25px;
		color: #f9f8f8;
		margin-bottom: 15px;
		font-weight: 400;
		transition: color 0.3s ease;
	}
	.nav a:hover{
		color: #287ee1;
		transition: color 0.3s ease;
	}
	 .nav .underline-animation::after {
		height: 0px;
	 }
	main{
		position: relative;
		top: -120px;
		z-index: 6;
	}
	 .section{
		row-gap: 30px;
	} 
	.section__item a{
		font-size: 32px;
		padding: 5px 50px;
	}
	.section-contact-us__item:nth-child(1){
		font-size: 32px;
	}
}
@media (max-width: 1160px){
	.title__text h1{
		font-size: 24px;
	}
	.menu-burg img{
		width: 70px;
	}
	.section__item a{
		font-size: 24px;
	}
	main{
		top: -140px;
	}
	nav a {
		font-size: 20px;
	}
}
@media (max-width: 1155px){

	.section-contact-us{
		column-gap:50px;
	}
	.section-contact-us__item:nth-child(1){
		font-size: 20px;
	}
}
@media (max-width: 955px){
	.section-contact-us{
		column-gap:20px;
	}
	.section-contact-us__item:nth-child(1){
		font-size: 20px;
	}
}

@media (max-width: 915px){
	.menu-burg .menu-burg__burger img,
	.menu-burg .menu-burg__close img{
		width: 60px;
	}
	.title__img img{
		width: 70px;
	}
	.title__text h1{
		font-size: 20px;
	}
	main{
		top: -170px;
	}
	.section__item a{
		font-size: 20px;
		padding: 5px 40px;
	}
	.section-contact-us{
		gap: 5px;
	}
	.section-contact-us__item:nth-child(1){
		font-size: 22px;
	}
}
@media (max-width: 780px){
	.menu-burg .menu-burg__burger img,
	.menu-burg .menu-burg__close img{
		width: 50px;
	}
	.section{
		gap: 30px;
		margin-bottom: 30px;
	}
	.section__item a{
		padding: 5px 25px;
	}

	.section-contact-us{
		gap: 5px;
	}
	.section-contact-us__item:nth-child(1){
		font-size: 22px;
		text-align: center;
	}

	.section-contact-us__item:nth-child(2){
		text-align: left;
	}


} */